.custom-tooltip_line {
  font-size: 15px;
  width: 59px;
  height: 35px;
  background-color: #ffffff;
  color: black;

  text-align: center;

  line-height: 2em;
  padding-top: 4px;
}
.lineChart__title {
  position: absolute;
  margin: 0;
  top: 26px;
  left: 30px;
  z-index: 10;
  font-size: 15px;
  color: white;
  opacity: 0.5;
  font-style: normal;
  font-weight: 500;

  line-height: 25px;
}
