.main {
  display: flex;
  flex-direction: column;
  grid-area: dashboard;
  padding-top: 68px;
  padding-left: 107px;
}

.main__content {
  display: grid;
  grid-template-areas:
    "daily infoCards"
    "userCharts infoCards";
}
