.App {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px auto;
  /* first column is Sidebar:100px and auto for the rest of the page  */
  /* grid-template-rows: 91px 1fr 250px; */

  grid-template-areas:
  /* header fill up the 2 columns */
    "header header "
    /* aside:100px is 1 column and main:auto is the second column*/
    "sidebar dashboard";
}
